version: '3.8'
services:
  salary-service:
    image: cevheri/salary-service
    environment:
      - _JAVA_OPTIONS=-Xmx512m -Xms256m
      - APP_SLEEP=10 # for zipkin
    ports:
      - 9004:9004
  zipkin:
    image: openzipkin/zipkin
    ports:
      - 9411:9411